html, 
body {
  font-family: Arial, sans-serif;
}

.list-group {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 10px;
  color: #000000;
  margin: 20px 0;
  padding: 10px;
}

.searchForm {
  float: right;
}
